<!DOCTYPE html>
<html>
    <head>
        <title>dropOff | Home</title>
    </head>
    <body ng-controller="HomeCtrl">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">dropOff</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#!/home">Home</a></li>
                    <li ng-click="logout()"><a href="#">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h3 class="text-center">Welcome, {{username}}</h3>
        </div>

        <div ng-show="{{userType == 'rider'}}" class="container">
            <h3 class="text-center">Rider</h3>
        </div>

        <div ng-show="{{userType == 'driver'}}" class="container">
            <div class="container text-center">
                <a class="btn btn-success" href="#!/makeTrip">Post New Trip</a>
            </div>
            <div class="container">
                <h3 class="text-center">Upcoming Drives</h3>
                <div ng-repeat="(id, trip) in dTrips | orderBy:'datetime' " class="list-group">
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ trip.startLoc }} to {{ trip.endLoc }}</h5>
                            <small>{{ trip.datetime | date: 'MMM dd HH:mma' }}</small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">Spots left: </h6>
                            <p>{{ trip.seatsLeft }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>