<!DOCTYPE html>
<html>
<head>
    <title>dropOff | Update Driver Profile</title>
</head>
<body ng-controller="driverCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Drop<span class="glyphicon glyphicon-map-marker"></span>ff</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#!/home">Home</a></li>
                    <li ng-show="{{userType == 'driver'}}"><a href="#!/makeTrip">Create Trip</a></li>
                    <li ng-show="{{userType == 'driver'}}" class="active"><a href="#!/driver">Profile</a></li>
                    <li ng-click="logout()"><a href="#">Logout</a></li>
                </ul>
                <p class="navbar-text navbar-right">Welcome, {{username}}</p>
            </div>
        </div>
    </nav>

    <div class="container" ng-show="success">
        <div class="row">
            <div class="alert alert-success">
                <strong>Success!</strong> Your profile has been updated.
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3 class="col-xs-12 text-center">Update Your Profile
                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" uib-tooltip="Changes automatically saved"></span>
            </h3>
        </div>
        <div class="row">
            <form name="driverProfile" novalidate>
                <div class="col-md-8 col-md-offset-2">
                    <h4>Car Details</h4>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 col-md-offset-2">
                        <label for="carBrand">Brand or Model</label>
                        <input type="text" class="form-control" id="carBrand" ng-model="driver.brand" placeholder="Tesla Model X">
                    </div>
                    <div class="col-md-4">
                        <label for="license">License Plate</label>
                        <input type="text" class="form-control" id="license" ng-model="driver.license" placeholder="LICENSE">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8 col-md-offset-2">
                        <label for="carColor">Colour of Car</label>
                        <color-picker id="carColor" ng-model="driver.color" options="options"></color-picker>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Example Posting</h4>
                <div class="list-group">
                    <div class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-xs-8">
                                <h3>Dec 24 02:30</h3>
                            </div>
                            <div class="col-xs-4 text-right">
                                <p>Earth to Moon</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-6">
                                <span>
                                    <i class="fas fa-car fa-fw" ng-style="{'color': getColor()}"></i>
                                </span>
                                {{ driver.brand }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h4>Spots Left: 
                                    <span class="badge badge-primary badge-pill"">4</span>
                                </h4>
                            </div>
                            <div class="col-xs-6">
                                <h4 class="text-success text-right">$15</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>