.loginContainer{
	background-color: rgba(226, 226, 226, 0.79);
	padding: 40px;
	margin-top: 130px;
}

/*body{
	background-image: url("/assets/bg4.jpg");
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}*/