#selectSeat a {
    text-decoration: none;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    padding: 6px;
    line-height: 21px;
    cursor: default;
  }
  
  #selectSeat a:hover,
  #selectSeat a:focus {
    text-decoration: none;
    cursor: pointer;
  }
  
  #selectSeat a.selected {
    background: blue;
    color: white;
    border: 0;
  }
  
  #selectSeat a.available {
    color: blue;
    border: 1px solid blue;
    border-radius: 4px;
  }
  
  #selectSeat a.blocked {
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
  }
  
  #selectSeat a.available:hover {
    color: white;
    background: blue;
  }
  
  #selectSeat a.blocked,
  #selectSeat a.blocked:hover {
    background: #eaeaea;
    color: #aaa;
    box-shadow: 0;
    cursor: default;
    border: 0;
  }
  