<!DOCTYPE html>
<html>
    <head>
        <title>dropOff | New trip</title>
    </head>
    <body ng-controller="makeTripCtrl">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">dropOff</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#!/home">Home</a></li>
                    <li ng-show="{{userType == 'driver'}}" class="active"><a href="#!/makeTrip">Create Trip</a></li>
                    <li ng-show="{{userType == 'driver'}}"><a href="#!/driver">Profile</a></li>
                    <li ng-click="logout()"><a href="#">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="container" ng-show="success">
            <div class="row text-center">
                <div class="col">
                    <div class="alert alert-success">
                        <strong>Success!</strong> The trip has beed posted.
                    </div>
                </div>
            </div>
        </div>

        <div class="container" ng-show="!hasProfile">
            <div class="row text-center">
                <div class="col">
                    <div class="alert alert-warning">
                        Update <a class="alert-link" href="#!/driver">your profile</a> to post a trip.
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h3 class="text-center">Create New Trip</h3>
            <form name="tripForm">
                <div class="form-row">
                    <div class="col">
                        <h2>Location</h2>
                    </div>
                </div>
                <div class="form-row">
                    <!-- <div class="col-md">
                        <label for="startLoc">Departure</label>
                        <select id="startLoc" class="form-control" ng-model="trip.startLoc" required
                            ng-options="location.name as location.name for location in locations">
                            <option value="" disabled selected>Select Departure</option>
                        </select>
                    </div> -->
                    <div class="col-md">
                        <label for="startLoc">Departure</label>
                        <ui-select id="startLoc" ng-model="trip.startLoc" tagging="tagTransform" tagging-label="false" 
                            required theme="bootstrap">
                            <ui-select-match placeholder="Select Arrival Location or Type Your Own">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="location.name as location in locations | filter: $select.search">
                                <div ng-bind-html="location.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <small>After typing your own location, hit ENTER or TAB</small>
                    </div>
                    <!-- <div class="col-md">
                        <label for="endLoc">Arrival</label>
                        <select id="endLoc" class="form-control" ng-model="trip.endLoc" required
                            ng-options="location.name as location.name for location in locations">
                            <option value="" disabled selected>Select Arrival</option>
                        </select>
                    </div> -->
                    <div class="col-md">
                        <label for="endLoc">Arrival</label>
                        <ui-select id="endLoc" ng-model="trip.endLoc" tagging="tagTransform" tagging-label="false" 
                            required theme="bootstrap">
                            <ui-select-match placeholder="Select Arrival Location or Type Your Own">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="location.name as location in locations | filter: $select.search">
                                <div ng-bind-html="location.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <small>After typing your own location, hit ENTER or TAB</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md">
                        <label for="dateTime">Departure Time and Date</label>
                        <input class="form-control" id="datetime" ng-model="datetime" 
                        required placeholder="Select Date/Time"
                        date-format="MMM dd yyyy HH:mm" datetime-picker future-only/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="price">Price per Seat</label>
                        <input name="price" class="form-control" placeholder="15" ng-model="trip.price" required></input>    
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-xs">
                        <label for="selectSeat">Select Available Seats</label>
                        <div id="selectSeat">
                            <table class="table">
                                <tbody class="table">
                                    <tr ng-repeat="row in seats">
                                    <!-- <span>{{rowLetter[$index]}}</span> -->
                                    <td ng-repeat="item in row">
                                        <a class="available" ng-disabled="isDisabled" 
                                        ng-class="{'selected': item.isAvailable == true,'available': item.isAvailable == false, 'blocked': item.isSeat == false}" 
                                        ng-click="clickSeat(item)">{{item.col}}</a>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <button type="submit" ng-click="createTrip()" 
                        ng-disabled="tripForm.$invalid || !hasProfile"
                        class="btn btn-success">Create Trip</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
    <!-- <script type="text/javascript" src="https://raw.githubusercontent.com/ShadAhm/angular.keruC/master/angular.keruc.js"></script> -->
</html>