<!DOCTYPE html>
<html>
    <head>
        <title>dropOff | New trip</title>
    </head>
    <body ng-controller="makeTripCtrl">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Drop<span class="glyphicon glyphicon-map-marker"></span>ff</a>
                </div>
               <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#!/home">Home</a></li>
                    <li ng-show="{{userType == 'driver'}}" class="active"><a href="#!/makeTrip">Create Trip</a></li>
                    <li ng-show="{{userType == 'driver'}}"><a href="#!/driver">Profile</a></li>
                    <li ng-click="logout()"><a href="#">Logout</a></li>
                </ul>
                <p class="navbar-text navbar-right">Welcome, {{username}}</p>
            </div>
            </div>
        </nav>

        <div class="container" ng-show="success">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="alert alert-success">
                        <strong>Success!</strong> Your trip has beed posted.
                    </div>
                </div>
            </div>
        </div>

        <div class="container" ng-show="!hasProfile">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="alert alert-warning">
                        Update <a class="alert-link" href="#!/driver">your profile</a> to post a trip.
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h3 class="text-center">Create New Trip</h3>

            <div class="row"> 
                <form name="tripForm">
                        
                    <div class="form-row">
                        <div class="form-group col-md-4 col-md-offset-2">
                            <label for="startLoc">From</label>&nbsp;<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" uib-tooltip="ENTER or TAB after typing"></span>
                            <ui-select id="startLoc" ng-model="trip.startLoc" tagging="tagTransform" tagging-label="false" 
                                required theme="bootstrap">
                                <ui-select-match placeholder="Select or Type Your Own">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="location.name as location in locations | filter: $select.search">
                                    <div ng-bind-html="location.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="endLoc">To</label>&nbsp;<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" uib-tooltip="ENTER or TAB after typing"></span>
                            <ui-select id="endLoc" ng-model="trip.endLoc" tagging="tagTransform" tagging-label="false" 
                                required theme="bootstrap">
                                <ui-select-match placeholder="Select or Type Your Own">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="location.name as location in locations | filter: $select.search">
                                    <div ng-bind-html="location.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4 col-md-offset-2">
                            <label for="dateTime">Date and Time</label>
                            <input class="form-control" id="datetime" ng-model="datetime" 
                            required placeholder="Select Date/Time"
                            date-format="MMM dd yyyy HH:mm" datetime-picker future-only/>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="price">Price per Seat</label>
                            <input name="price" class="form-control" placeholder="15" ng-model="trip.price" required></input>    
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-8 col-md-offset-2">
                            <label for="selectSeat">Select Available Seats</label>
                            <div id="selectSeat">
                                <table class="table">
                                    <tbody class="table">
                                        <tr ng-repeat="row in seats">
                                        <td ng-repeat="item in row" colspan="{{item.span}}" style="text-align:{{item.align}};">
                                            <a class="available" ng-disabled="isDisabled" 
                                            ng-class="{'selected': item.isAvailable == true,'available': item.isAvailable == false, 'blocked': item.isSeat == false}" 
                                            ng-click="clickSeat(item)">{{item.name}}</a>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-8 col-md-offset-2 text-right">
                            <button type="submit" ng-click="createTrip()" 
                            ng-disabled="tripForm.$invalid || !hasProfile"
                            class="btn btn-success btn-lg">Create Trip</button>
                        </div>
                    </div>

                </form>
            </div><!-- row -->
        </div><!-- container -->
    </body>
</html>